# Ignore TensorFlow/Keras models weight files
huk-data/weights_final.h5
huk-data/*.csv
huk-data/config/pretrained-roberta-base.h5

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# Logs and local environment files
*.log
*.env