# TensorFlow for the sentiment model (pre-installed with tensorflow/tensorflow:2.7.0 Docker image)
fastapi==0.78.0
uvicorn==0.17.0
anyio==3.5.0
starlette==0.19.1     # Ensures compatibility with FastAPI and anyio
pydantic==1.10.2
pytest==7.4.2
transformers~=4.45.2