tensorflow==2.7.0  # Works with Python 3.8
uvicorn==0.17.0  # Compatible with FastAPI and Python 3.8
fastapi==0.78.0  # Compatible with Python 3.8
pydantic==1.10.2  # Works with FastAPI 0.78.0 and Python 3.8